<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}

  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    {{ partial "loader.html"}}
    <main class="page-wrapper">
      <!-- Sign In Modal-->
      {{ partial "sign.html"}}
      <!-- Sign Up Modal-->
      {{ partial "sign-up.html"}}
      <!-- Navbar-->
      {{- partial "header.html" . -}}
      <!-- Page content-->
      {{ block "main" . }}
      <!-- main things-->
      {{ end }}
    </main>
    <!-- Footer-->
    {{ partial "footer.html"}}
    <!-- Vendor scrits: js libraries and plugins-->
    {{ partial "script.html"}}
  </body>
</html>
