<!-- Footer-->
<footer
  class="position-relative pb-5"
  style="margin-top: -5.75rem; padding-top: 9rem"
>
  <div
    class="d-none d-xxl-block position-absolute top-0 start-0 w-100 h-100 bg-dark"
    style="border-top-left-radius: 1.875rem; border-top-right-radius: 1.875rem"
  ></div>
  <div
    class="d-xxl-none position-absolute top-0 start-0 w-100 h-100 bg-dark"
  ></div>
  <div class="container content-overlay text-center py-md-3 py-lg-5">
    <h2 class="h3 text-light pb-3">Subscribe to our newsletter</h2>
    <div class="row justify-content-center mb-5 pb-lg-3">
      <div class="col-lg-6 col-md-7 col-sm-9">
        <form
          class="subscription-form validate"
          action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126"
          method="post"
          name="mc-embedded-subscribe-form"
          target="_blank"
          novalidate
        >
          <div class="form-group form-group-light rounded-pill">
            <div class="input-group flex-nowrap">
              <span class="input-group-text text-muted"
                ><i class="fi-mail"></i
              ></span>
              <input
                class="form-control"
                type="email"
                name="EMAIL"
                placeholder="Your email"
                required
              />
            </div>
            <button
              class="btn btn-primary rounded-pill"
              type="submit"
              name="subscribe"
            >
              Subscribe*
            </button>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input
              class="subscription-form-antispam"
              type="text"
              name="b_c7103e2c981361a6639545bd5_29ca296126"
              tabindex="-1"
            />
          </div>
          <div class="subscription-status mx-auto"></div>
          <div class="form-text text-light fs-xs opacity-70 mt-3">
            *Subscribe to our newsletter to receive early discount offers,
            updates and new products info.
          </div>
        </form>
      </div>
    </div>
    <p class="fs-sm mb-0">
      <span class="text-light">&copy; All rights reserved. Made by </span
      ><a href="https://createx.studio/" target="_blank" rel="noopener"
        >Createx Studio</a
      >
    </p>
  </div>
</footer>
